.App {
  text-align: center;
}

body {
  background-color: #380b5b;
  /* #8D27DC */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
}

#containerSearch {
  background-color: #a55adf;
  padding: 20px;
  border-radius: 15px;
  width: 400px;
  /* Defina a largura desejada */
  margin: 0 auto;

}