/* index.css */

/* Estilizando o corpo da aplicação */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f0f2f5;
    /* Uma cor de fundo suave */
    color: #333;
    /* Cor do texto */
}